flows.json
[
    {
        "id": "19ed247e211b1787",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "34621d64e7d0e790",
        "type": "http request",
        "z": "19ed247e211b1787",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "a0507d45af95e096"
            ]
        ]
    },
    {
        "id": "bf587a0a892ccdd1",
        "type": "mqtt out",
        "z": "19ed247e211b1787",
        "name": "",
        "topic": "/predTemp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cae9e56056bfacf8",
        "x": 790,
        "y": 40,
        "wires": []
    },
    {
        "id": "28f6af83f73edf61",
        "type": "inject",
        "z": "19ed247e211b1787",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "34621d64e7d0e790"
            ]
        ]
    },
    {
        "id": "5ee33b5b6ec90f63",
        "type": "ui_gauge",
        "z": "19ed247e211b1787",
        "name": "Predicted Temperature",
        "group": "2c33647f9f9ec025",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Predicted Temperature",
        "label": "units",
        "format": "{{msg.payload.predTemp}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "5e8023fe25cae177",
        "type": "debug",
        "z": "19ed247e211b1787",
        "name": "Predicted Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.predTemp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "a0507d45af95e096",
        "type": "json",
        "z": "19ed247e211b1787",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "dc0d01992b9f47f0"
            ]
        ]
    },
    {
        "id": "dc0d01992b9f47f0",
        "type": "function",
        "z": "19ed247e211b1787",
        "name": "function 1",
        "func": "msg.payload = msg.payload.feeds.map(feed => {\nreturn {\n    predTemp: parseFloat(feed.field1),\n    predHum: parseFloat(feed.field2),\n    temp: parseFloat(feed.field3),\n    hum: parseFloat(feed.field4)\n};\n\n})\n\nmsg.payload = msg.payload[msg.payload.length-1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "bf587a0a892ccdd1",
                "5ee33b5b6ec90f63",
                "5e8023fe25cae177",
                "fa763bd0eb469dba",
                "de74ec30e0213946",
                "c304a11c61b73ccb",
                "a0b36c307466a684",
                "73ce18e71ce58381",
                "e825d4fe28ae3398",
                "96d9ef62ce6d900a",
                "2fbd666e7165f63a",
                "20ef1f45fa14eca8"
            ]
        ]
    },
    {
        "id": "96d9ef62ce6d900a",
        "type": "mqtt out",
        "z": "19ed247e211b1787",
        "name": "",
        "topic": "/predHum",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cae9e56056bfacf8",
        "x": 780,
        "y": 100,
        "wires": []
    },
    {
        "id": "fa763bd0eb469dba",
        "type": "debug",
        "z": "19ed247e211b1787",
        "name": "Predicted Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.predHum",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 540,
        "wires": []
    },
    {
        "id": "de74ec30e0213946",
        "type": "debug",
        "z": "19ed247e211b1787",
        "name": "Actual Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.temp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 580,
        "wires": []
    },
    {
        "id": "c304a11c61b73ccb",
        "type": "debug",
        "z": "19ed247e211b1787",
        "name": "Actual Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.hum",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 620,
        "wires": []
    },
    {
        "id": "a0b36c307466a684",
        "type": "ui_gauge",
        "z": "19ed247e211b1787",
        "name": "Predicted Humidity",
        "group": "2c33647f9f9ec025",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Predicted Humidity",
        "label": "units",
        "format": "{{msg.payload.predHum}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "73ce18e71ce58381",
        "type": "ui_gauge",
        "z": "19ed247e211b1787",
        "name": "Actual Temperature",
        "group": "2c33647f9f9ec025",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Actual Temperature",
        "label": "units",
        "format": "{{msg.payload.temp}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "e825d4fe28ae3398",
        "type": "ui_gauge",
        "z": "19ed247e211b1787",
        "name": "Actual Humidity",
        "group": "2c33647f9f9ec025",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Actual Humidity",
        "label": "units",
        "format": "{{msg.payload.hum}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "2fbd666e7165f63a",
        "type": "mqtt out",
        "z": "19ed247e211b1787",
        "name": "",
        "topic": "/temp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cae9e56056bfacf8",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "20ef1f45fa14eca8",
        "type": "mqtt out",
        "z": "19ed247e211b1787",
        "name": "",
        "topic": "/hum",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cae9e56056bfacf8",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "cae9e56056bfacf8",
        "type": "mqtt-broker",
        "name": "mosq",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2c33647f9f9ec025",
        "type": "ui_group",
        "name": "Default",
        "tab": "4b3de94c5d5af5c6",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b3de94c5d5af5c6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]